<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desarrollos K.A</title>
    <!--llama a estilos.css para hacer uso de los estilos-->
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/css/estilos.css' %}">

    <!--librerias-->
    <!-- Compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Minified JS library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Compiled and minified Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <!--la parte de la cabezera-->
    <header>
        <div class="contenedor">
            <div class="marca">
                <h1>Diseño y Desarrollo Móvil <span class="resaltado">K.A</span></h1>
            </div>
            <!--barra de navegación-->
            <nav>
                <ul>
                    <li>
                        <a href="index.html">Inicio</a>
                    </li>
                    <li>
                        <a href="nosotros.html">Nosotros</a>
                    </li>
                    <li>
                        <a href="servicios.html">Servicios</a>
                    </li>
                    <li class="actual">
                        <a href="contacto.html">Contacto</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>


    <!--para la seccion del boletin-->
    <section class="boletin">
        <div class="contenedor">
            <h1>Suscribete a nuestro boletín</h1>
            <form action="">
                <input class="input-email" type="email" name="email" placeholder="ingrese correo">
                <button class="btn" type="submit" class="boton1">Suscríbete</button>
            </form>
        </div>
    </section>

    <!--seccion nosotros-->
    <section class="menu">
        <div class="contenedor">
            <article class="articulo">
                <h1>Contactanos</h1>
                <!--FORMULARIO-->

                <form class="form-contacto" id="formulario-contacto" action="">
                    <label for="nombre">Nombre</label>
                    <input id="nombre" type="text" name="nombre" placeholder="Ingresa el nombre:">

                    <label for="email">Email</label>
                    <input id="email" type="email" name="email" placeholder="Ingresa el email:">

                    <label for="telefono">Telefono</label>
                    <input id="telefono" type="text" name="telefono" placeholder="Ingresa el telefono fijo:">

                    <label for="celular">Celular</label>
                    <input id="celular" type="text" name="celular" placeholder="Ingresa el celular:">

                    <label for="mensaje">Mensaje</label>
                    <textarea id="mensaje" name="mensaje" placeholder="Ingresa acá el mensaje"></textarea>
                    <br>

                    <input id="btn-contacto" class="btn-formulario" type="submit" value="Enviar">
                </form>

            </article>
            <aside class="aside">
                <div class="oscuro">
                    <h3>Que hacemos</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. A doloribus maxime officiis blanditiis
                        illum, dignissimos aspernatur odit quasi eveniet labore nisi reiciendis sequi. Aliquam esse
                        illum quod pariatur eius dolores quos odio laudantium in tempore, illo cupiditate alias aperiam
                        porro quisquam aut facere iusto autem incidunt? Sed suscipit ratione libero.
                    </p>
                </div>
            </aside>
        </div>
    </section>

    <!--pie de pagina footer-->
    <footer>
        <p>Desarrollos K.A copyright &copy, 2020</p>
    </footer>

    <script>
        var formulario = document.getElementById('formulario-contacto'),
            elementos = formulario.elements,
            boton = document.getElementById('btn-contacto')




        var validarNombre = function (e) {
            if (formulario.nombre.value == 0) {
                alert("completa el campo nombre")
                e.preventDefault()
            }
        }

        var validarEmail = function (e) {
            if (formulario.email.value == 0) {
                alert("completa el campo email")
                e.preventDefault()
            }
        }

        var validarTelefono = function (e) {
            if (formulario.telefono.value == 0) {
                alert("completa el campo telefono")
                e.preventDefault()
            }
        }


        var validarCelular = function (e) {
            if (formulario.celular.value == 0) {
                alert("completa el campo celular")
                e.preventDefault()
            }
        }

        var validarMensaje = function (e) {
            if (formulario.mensaje.value == 0) {
                alert("completa el campo Mensaje")
                e.preventDefault()
            }
        }


        var validar = function (e) {
            validarNombre(e)
            validarEmail(e)
            validarTelefono(e)
            validarCelular(e)
            validarMensaje(e)
        }


        formulario.addEventListener("submit", validar)    
    </script>

</body>

</html>