<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desarrollos K.A</title>
    <!--llama a estilos.css para hacer uso de los estilos-->
     {% load static %}
    <link rel="stylesheet" href="{% static 'app/css/estilos.css' %}">

    <!--font awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">

    <!--librerias-->
    <!-- Compiled and minified Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
<!-- Minified JS library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Compiled and minified Bootstrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>

<script src="main.js"></script>
</head>

<body>

    <!--la parte de la cabezera-->
    <header>
        <div class="contenedor">
            <div class="marca">
                <h1>Diseño y Desarrollo Móvil <span class="resaltado">K.A</span></h1>
            </div>
            <!--barra de navegación-->
            <nav class="nav">
                <ul class="ul-navegacion">
                    <li class="actual">
                        <a href="index.html">Inicio</a>
                    </li>
                    <li>
                        <a href="nosotros.html">Nosotros</a>
                    </li>
                    <li>
                        <a href="servicios.html">Servicios</a>
                    </li>
                    <li>
                        <a href="contacto.html">Contacto</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <!--carrusel-->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
    
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="{% static 'app/img/imagen4.jpg' %}"  alt="">
            </div>
            <div class="item">
                <img src="{% static 'app/img/imagen5.jpg' %}"  alt="">
            </div>
            <div class="item">
                <img src="{% static 'app/img/imagen6.jpg' %}"  alt="">
            </div>
        </div>
    
        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


    <!--para la seccion del boletin-->
    <section class="boletin">
        <div class="contenedor">
            <h1>Suscribete a nuestro boletín</h1>
            <form action="">
                <input class="input-email" type="email" name="email" placeholder="ingrese correo">
                <button class="btn" type="submit" class="boton1">Suscríbete</button>
            </form>
        </div>
    </section>

    <!--seccion para las cajas-->
    <section class="cajas">
        <div class="contenedor">
            <div class="caja">
                <img src="{% static 'app/img/logo3.png' %}" alt="">
                <h3>Desarrollo Multiplataforma</h3>
                <p>Te ofrecemos desarrollo multiplataforma, tanto para android como para IOS</p>
            </div>
            <div class="caja">
                <img src="{% static 'app/img/logo1.png' %}" alt="">
                <h3>Desarrollo Android</h3>
                <p>Te ofrecemos desarrollo de aplicaciones en android de manera nativa</p>
            </div>
            <div class="caja">
                <img src="{% static 'app/img/logo2.png' %}" alt="">
                <h3>Desarrollo IOS</h3>
                <p>Te ofrecemos desarrollo de aplicaciones para IOS de manera nativa</p>
            </div>
        </div>
    </section>

    <!--LOGOS REDES SOCIALES-->
    <section class="redes-sociales">
        <p style="color: white;">Siguenos</p>
        <div class="logos">
            <a href=""><i class="fab fa-facebook-f"></i></a>
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fab fa-linkedin"></i></a>
        </div>
    </section>
    <!--pie de pagina footer-->
    <footer>
        <p>Desarrollos K.A copyright &copy, 2020</p>
    </footer>
</body>

</html>