<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desarrollos K.A</title>
    <!--llama a estilos.css para hacer uso de los estilos-->
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/css/estilos.css' %}">

    <!--librerias-->
    <!-- Compiled and minified Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
<!-- Minified JS library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Compiled and minified Bootstrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
</head>

<body>

    <!--la parte de la cabezera-->
    <header>
        <div class="contenedor">
            <div class="marca">
                <h1>Diseño y Desarrollo Móvil <span class="resaltado">K.A</span></h1>
            </div>
            <!--barra de navegación-->
            <nav>
                <ul>
                    <li>
                        <a href="index.html">Inicio</a>
                    </li>
                    <li class="actual">
                        <a href="nosotros.html">Nosotros</a>
                    </li>
                    <li>
                        <a href="servicios.html">Servicios</a>
                    </li>
                    <li>
                        <a href="contacto.html">Contacto</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>


    <!--para la seccion del boletin-->
    <section class="boletin">
        <div class="contenedor">
            <h1>Suscribete a nuestro boletín</h1>
            <form action="">
                <input class="input-email" type="email" name="email" placeholder="ingrese correo">
                <button class="btn" type="submit" class="boton1">Suscríbete</button>
            </form>
        </div>
    </section>

    <!--seccion nosotros-->
    <section class="menu">
        <div class="contenedor">
            <article class="articulo">
                <h1>Nosotros</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci sint reprehenderit doloribus! Officiis delectus dolor debitis quia veritatis nobis consectetur maiores nesciunt! Doloremque deserunt reiciendis possimus dolores unde culpa atque enim deleniti qui accusantium ullam perferendis sint quidem recusandae quos nemo illo mollitia quod provident sit, adipisci laboriosam. Nihil, earum.</p>
                <p class="oscuro">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus tempore reiciendis non quas, ullam earum consectetur ipsa dolore veniam, tenetur soluta ducimus! Cupiditate exercitationem culpa eius ex dolores, ea est porro molestias et iure aliquam minima! Accusamus vero qui beatae vitae deleniti dolores rem tempore ab? Magnam repellat deleniti ad!
                </p>
                <img src="img/imagen9.jpg" width="745" alt="">
            </article>
            <aside class="aside">
                <div class="oscuro">
                    <h3>Que hacemos</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. A doloribus maxime officiis blanditiis illum, dignissimos aspernatur odit quasi eveniet labore nisi reiciendis sequi. Aliquam esse illum quod pariatur eius dolores quos odio laudantium in tempore, illo cupiditate alias aperiam porro quisquam aut facere iusto autem incidunt? Sed suscipit ratione libero.
                    </p>
                </div>
            </aside>
        </div>
    </section>

    <!--pie de pagina footer-->
    <footer>
        <p>Desarrollos K.A copyright &copy, 2020</p>
    </footer>
</body>

</html>