<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desarrollos K.A</title>
    <!--llama a estilos.css para hacer uso de los estilos-->
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/css/estilos.css' %}">

    <!--librerias-->
    <!-- Compiled and minified Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
<!-- Minified JS library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Compiled and minified Bootstrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
</head>

<body>

    <!--la parte de la cabezera-->
    <header>
        <div class="contenedor">
            <div class="marca">
                <h1>Diseño y Desarrollo Móvil <span class="resaltado">K.A</span></h1>
            </div>
            <!--barra de navegación-->
            <nav>
                <ul>
                    <li>
                        <a href="index.html">Inicio</a>
                    </li>
                    <li>
                        <a href="nosotros.html">Nosotros</a>
                    </li>
                    <li class="actual">
                        <a href="servicios.html">Servicios</a>
                    </li>
                    <li>
                        <a href="contacto.html">Contacto</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>


    <!--para la seccion del boletin-->
    <section class="boletin">
        <div class="contenedor">
            <h1>Suscribete a nuestro boletín</h1>
            <form action="">
                <input class="input-email" type="email" name="email" placeholder="ingrese correo">
                <button class="btn" type="submit" class="boton1">Suscríbete</button>
            </form>
        </div>
    </section>

    <!--seccion nosotros-->
    <section class="menu">
        <div class="contenedor">
            <article class="articulo">
               <h1>Servicios</h1>
               <ul>
                   <li>
                       <h3>Diseño Móvil</h3>
                       <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi fuga aperiam vel aliquid quo! Distinctio porro vel eum id possimus voluptas harum minus consectetur explicabo, facilis cupiditate incidunt assumenda a.</p>
                       <p class="precios">Precios: desde los $200.000</p>
                   </li>
                   <li>
                        <h3>Desarrollo Multiplataforma</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi fuga aperiam vel aliquid quo! Distinctio porro vel eum id possimus voluptas harum minus consectetur explicabo, facilis cupiditate incidunt assumenda a.</p>
                    <p class="precios">Precios: desde los $400.000</p>
                    </li>
                    <li>
                        <h3>Desarrollo Android Nativo</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi fuga aperiam vel aliquid quo! Distinctio porro vel eum id possimus voluptas harum minus consectetur explicabo, facilis cupiditate incidunt assumenda a.</p>
                        <p class="precios">Precios: desde los desde $450.000</p>
                    </li>
                    <li>
                        <h3>Desarrollo IOS Nativo</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi fuga aperiam vel aliquid quo! Distinctio porro vel eum id possimus voluptas harum minus consectetur explicabo, facilis cupiditate incidunt assumenda a.</p>
                        <p class="precios">Precios: desde los $500.000</p>
                    </li>
               </ul>
            </article>
            <aside class="aside">
                <div class="oscuro">
                    <h3>Que hacemos</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. A doloribus maxime officiis blanditiis illum, dignissimos aspernatur odit quasi eveniet labore nisi reiciendis sequi. Aliquam esse illum quod pariatur eius dolores quos odio laudantium in tempore, illo cupiditate alias aperiam porro quisquam aut facere iusto autem incidunt? Sed suscipit ratione libero.
                    </p>
                </div>
            </aside>
        </div>
    </section>

    <!--pie de pagina footer-->
    <footer>
        <p>Desarrollos K.A copyright &copy, 2020</p>
    </footer>
</body>

</html>