/*cuerpo general*/
body {
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
    font-family: sans-serif;
    background-color: #f6f6f6;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23dfdfdf' fill-opacity='0.4'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/*estilos globales*/
.contenedor {
    width: 85%;
    margin: auto;
    overflow: hidden; 
}

ul {
   margin: 0;
   padding: 0; 
   margin-top: 30px;
}

.boton1 {
    height: 38px;
    background-color: tomato;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    font-weight: bold;
}

/*estilos para el encabezado header*/
header {
    background-color: #24282b;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    height: 120px;
    border-bottom: 5px solid #1293d4;
}

header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header .marca {
    float: left;
    margin-bottom: 30px;
}

header li {
    float: left;
    display: inline;
    margin-top: 35px;
    padding: 0 10px 0 10px;
}

header nav {
    float: right;
    margin-bottom: 20px;
}

header .resaltado, header .actual a{
    color: #1293d4;
    font-weight: bold;
}

header a:hover {
    color: #ccc;
    font-weight: bold;
    text-decoration: none;
}


/*imagenes carrusel carrusel*/

#myCarousel {
    height: 400px;
}
#myCarousel img{
    width: 100%;
    height: 400px;
}


/*boletin*/

.boletin {
    background: #24282b;
    padding: 20px;
}

.boletin h1 {
    color: white;
    float: left;
}

.boletin form {
    float: right;
    margin-top: 17px;
}

.boletin input {
    width: 300px;
    height: 39px;
    padding: 5px;
}

.boletin .btn {
    border-radius: 2px;
    padding: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 2px;
    padding-right: 12px;
    padding-left: 12px;
    background-color: tomato;
    color: white;
    font-weight: bold;
    font-size: 17px;
}


/*CAJAS*/
.cajas .contenedor {
    margin-top: 20px;
}

.cajas .contenedor .caja {
    float: left;
    width: 30%;
    text-align: center;
    padding: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

 .cajas .contenedor img {
     width: 100px;
     height: 90px;
 }


 /*estilos para lateral*/
.aside {
     float: right;
     width: 30%;
     margin-top: 10px;
 }


 /*ARTICULOS*/
.articulo {
    float: left;
    width: 65%;
    left: 0;
}


/*OSCURO*/
.oscuro {
    padding: 10px;
    margin-top: 59px;
    background-color: #35424a;
    color: white;
}


 /*FOOTER pie de pagina*/
 footer {
     padding: 20px;
     margin-top: 20px;
     color: white;
     background-color: #1293d4;
     text-align: center;
     font-weight: bold;
 }


 /*articulo servicios li*/
 .articulo li {
     border: 2px solid rgb(168, 168, 168);
     margin-bottom: 10px;
     padding: 10px;
     list-style: none;
     background-color: rgb(248, 145, 145);
     border-radius: 2px;
 }

 .articulo .precios {
    color: rgb(22, 22, 22);
    font-weight: bold;
 }

 /*FORMULARIO DE CONTACTO*/
.form-contacto input, textarea {
    width: 100%;
    height: 35px;
}

.form-contacto input {
    margin-bottom: 20px;
}

.btn-formulario:hover {
    color: black;
}

.btn-formulario {
    font-weight: bold;
} 

textarea {
    margin-bottom: 10px;
    height: 120px;
}

.btn-formulario {
    color: white;
    background-color: tomato;
    border: none;
    border-radius: 4px;
    height: 40px;
}

.form-contacto {
    background-color: rgb(211, 208, 208);
    padding: 20px;
    opacity: .8;
    border-radius: 5px;
    border: 1px solid rgb(141, 137, 137);
}


/*p*/
.redes-sociales p{
    text-align: center;
    font-size: 25px;
    margin-top: 40px;
    
}

/*centrado horizontal*/
.logos {
    display: flex;
    justify-content: center;
    
}

.logos a {
    margin: 20px;
}

/*tamaño de los iconos*/
.logos a i {
    font-size: 2em;
}



/*media querys para responsive*/

@media(max-width: 1048px){

    header marca,
    .boletin form,
    .aside, 
    .articulo {
        float: none;
        text-align: center;
        width: 100%;
    }

    .boletin h1 {
        margin-top: 200px;
        float: none;
        text-align: center;
        width: 100%;
    }


    header {
        padding-bottom: 200px;
        text-align: center;
    }

    header .marca {
        width: 100%;
    }


    .boletin h1 {
        margin-top: 40px;
    }

    .boletin button {
        display: block;
        width: 100%;
    }

    .contenedor {
        width: 100%;
    }

    .boletin h1 {
        padding: 30px;
    }

    .marca .resaltado {
        text-align: center;
    }

    .nav ul li a{
        color: rgb(133, 133, 133);
    }

    #myCarousel {
        margin-top: 50px;
    }

    form .input-email {
        width: 100%;
    }

    .cajas .contenedor .caja {
        width: 100%;
        margin: auto;
    }


    header nav {
        float: none;
        margin-left: 30px;
        width: 100%;
    }
}